body{
    padding: 0;
    margin: 0;
}
.main_div{

    position: relative;
    display: flex;
    justify-content: center;
    
    border: 1px solid;
    height: 100vh;
}

.left_div{
    background-color: rgb(123, 123, 125);
    width: 22rem;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.right_div{
    background-color: rgb(95, 95, 95);
    width: 35rem;
    position: relative;
}

.full_name{
    font-size: 50px;
    margin-bottom: 0;
}

.call_icon, .email_address_icon, .location_icon{

    width: 1.5rem;
 
}

.call_icon_div, .email_address_icon_div, .location_icon_div{
   align-items: center;
   display: flex;
   margin-right: 10px;
}

.phone_number_div, .email_address_div, .location_div{
    display: flex;
    position: relative;
   
    
}

.work_experiance_div{

    border: 1px solid;
    margin: 30px;

}


.work_experiance_title{

    border: 1px solid;
    font-size: 25px;
    background-color: aqua;
    padding: 0px 10px 0px 10px;

}

